# Configuration de la base de données MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/attendance_db

# Sécurité & Tokens JWT
JWT_SECRET=votre_chaine_secrete_jwt_ultra_securisee

# Port du serveur Express
PORT=5000

# Service d'envoi d'emails (Nodemailer / Gmail App Password)
GMAIL_USER=votre_email@gmail.com
GMAIL_PASS=votre_mot_de_passe_application_gmail

# Clé d'authentification du terminal IoT / Pointeuse ESP32
DEVICE_KEY=votre_cle_secrete_esp32_2026

# Identifiants de l'Administrateur Système
ADMIN_NAME=Administrateur
ADMIN_EMAIL=admin@biopulse.com
ADMIN_PASSWORD=votre_mot_de_passe_securise
ADMIN_PIN=123123
ADMIN_PIN_HASH=votre_hash_bcrypt_du_pin
